/*START------------------------------Main----------------------------------------*/
* { margin: 0px; padding: 0px; }
.footer{
    margin-bottom:50px;
}
.tooltip-icon{
    position: absolute;
    z-index: 1;
    width: 25px;
    height: 25px;
    background: url(../../img/question_mark_iconfinder.png);
}
/*ENDE------------------------------Main----------------------------------------*/

/*START-----------------------------Friendlist / Kontaktliste---------------------*/
#friendslist{
    /*display:flex;
    flex-direction:column;
	width:100%;*/
}
.friend{
	border-bottom:1px solid #e7ebee;
    padding:10px;	
}
.friend:hover{
	background:#f1f4f6;
	cursor:pointer;
}
.friend img{
	width:40px;
	border-radius:50%;
}
.friend .status{
	float:right;
    margin-top:10px;
}
.friend .status.away{background:#ffce54;}
.friend .status.inactive{background:#aab8c2;}
#search {
    background: #e3e9ed url('../../img/search.png') -11px 0 no-repeat;
    height: 60px;
    width: 100%;
    position:absolute;
    bottom: 10px;
}
#searchfield{
	background:#e3e9ed;
	margin:21px 0 0 55px;
	border:none;
	color:#8198ac;
}
#searchfield:focus{
	 outline: 0;
}
/*ENDE-----------------------------Friendlist / Kontaktliste---------------------*/

/*START----------------------------Grid / Anzeige der Supporter------------------*/
.gridavatar{
        width: 32px;
        height: 32px;
        border-radius: 50%;
}
.griduser-name{
    display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
}
/*ENDE----------------------------Grid / Anzeige der Supporter------------------*/

/*START--------------------------------Chatanzeige / User2UserChat--------------------*/
#chatview{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;	
	display:none;
	background:#fff;
}
                    /*START-------------HEAD-----------------*/
#profile{
	text-align:center;
    border-bottom:1px solid #e7ebee;
    padding-bottom:10px;
}

#profile .avatar{
	width:68px;
	border:3px solid #fff;
	margin:23px 0 0;
	border-radius:50%;
    height: 50px;
    width: 50px;
    -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
                    -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
                    box-shadow: inset 0 0 30px rgba(0,0,0,.3);
                    margin: 10px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-size: 100%;
                    background-repeat: no-repeat;

}
#close {
    position: relative;
    float: right;
    z-index: 1;
    width: 40px;
    height: 25px;
    background: url('../../img/undo_back_iconfinder.png');
}
#close:hover{
	opacity:1;
}
                    /*START-------------Status User online/offline--------------------*/
.status{
	background:#26c281;
	border-radius:50%;	
	width:9px;
	height:9px;
	position:relative;
    top:10px;
}
.status.away{background:#ffce54;}
.status.inactive{background:#aab8c2;}
                    /*ENDE-------------Status User online/offline--------------------*/
                    /*ENDE-------------HEAD-----------------*/

                    /*START-------------MAIN-----------------*/
#chat-messages{
	opacity:0;
	margin-top:30px;
	/*height: calc(100% - 310px);*/
	overflow-y:scroll;	
	overflow-x:hidden;
    min-height:180px;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
		-ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
		 -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
			transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
#chat-messages.animate{
	opacity:1;
	margin-top:0;
}
#chat-messages label{
	color:#aab8c2;
	font-weight:600;
	font-size:12px;
	text-align:center;
	margin:15px 0;
	display:block;	
}
#chat-messages div.message{
	padding:0 0 15px 15px;
	clear:both;
	margin-bottom:45px;
}
#chat-messages div.message.right{
	  padding: 0 15px 15px 0;
	  margin-right: -19px;
	  margin-left: 19px;
}
.message .bubble{	
	background:whitesmoke;
	font-size:13px;
	font-weight:600;
	padding:12px 13px;
    margin: 13px;
	border-radius:5px 5px 5px 0px;
	color:#8495a3;
	position:relative;
	float:left;
}
#chat-messages div.message.right .bubble{
	float:right;
	border-radius:5px 5px 0px 5px ;
	background: lightsalmon;
}
/*Zeichen links der message*/
.bubble .corner {
    background: url('../../img/left_corner_lightgrey.png') 0 0 no-repeat;
    position: absolute;
    width: 7px;
    height: 7px;
    left: -5px;
    bottom: 0;
}
/*Zeichen rechts der message*/
div.message.right .corner {
    background: url('../../img/right_corner_lightsalmon.png') 0 0 no-repeat;
    left: auto;
    right: -5px;
}
/*Uhrzeit unter der message*/
.bubble span{
	  color: #aab8c2;
	  font-size: 11px;
	  position: absolute;
	  right: 0;
	  bottom: -22px;
}
                    /*ENDE-------------MAIN-----------------*/

                    /*START-------------FOOTER---------------*/
#sendmessage button {
    background: #fff url('../../img/send_iconfinder.png')no-repeat;
    top:60%;
    width:25px;
    height: 25px;
    right:15px;
    position:absolute;
    z-index:1;
    border: none;
}
#sendmessage button:hover{
	cursor:pointer;
	background-position: 0 0 ;
}
#sendmessage button:focus{
	 outline: 0;	 
}
                    /*ENDE-------------FOOTER---------------*/
/*ENDE--------------------------------Chatanzeige / User2UserChat--------------------*/

/*START-------------------------------Positionierung Tooltip bei kendo Validate------*/
k-widget k-tooltip k-tooltip-validation k-invalid-msg{
    position:absolute !important;
}
/*ENDE-------------------------------Positionierung Tooltip bei kendo Validate------*/
/*START------------------------------Grid-------------------------------------------*/
/*.k-grid-content{
    overflow-y: hidden;
}*/
/*ENDE------------------------------Grid-------------------------------------------*/